:root {
  --primary-color: #333;
  --bg-color: #f2f2f2;
}

body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #e9f6e6, #53d532); 
}

h1, h2 {
  text-align: center;
}

#intro {
  padding: 2vh;
  background-color: var(--bg-color);  
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* centrar horizontalmente */
  gap: 10px; /* espacio entre imágenes */
}

.photo {
  width: 49%;
  margin-bottom: 2%;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: 1px solid #ccc;
  transition: .3s;
}

img:hover {
  opacity: 0.8;
  transform: scale(1);
}

.photo img:hover {
  cursor: pointer;
}


/* Tablet */
@media (max-width: 768px) {
  
  .photo {
    width: 98%;
  }
  
}


/* Móvil */
@media (max-width: 500px) {

  #intro {
    padding: 4vh;
  }
  
  h1 {
    font-size: 5vw;
  }
  
}

footer {
  text-align: center; 
}

@keyframes hoverAnimation {

  0% {
    transform: scale(1); 
  }
  
  50% {
    transform: scale(1.2);
  }
  
  100% {
    transform: scale(1);
  }

}

.photo img:hover {
  animation: hoverAnimation 1s ease-in-out; 
}

/* Estilos para la navegación */

nav {
  text-align: center;
}

nav a {
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5em;
  
  padding: 0.5em 1em;
  width: 35%;
  max-width: 250px;

  font-size: 1.2rem;
  text-align: center;

  color: #fff;
  background-color: rgb(249, 29, 29);
  border: 2px solid rgb(192, 98, 5);
  border-radius: 0.25rem;

  box-shadow: 0 2px #999;
  text-decoration: none;
}

nav a:active {
  box-shadow: 0 0;
  transform: translateY(2px);
}

nav a:hover {
  /* estilos hover */
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0,0,0,0.2); 
  transition: all 0.2s ease-out;
}


@media (max-width: 500px) {
  nav a {
    padding: 0.3em 0.7em;
    font-size: 1rem;
  }
}

@media (max-width: 325px) {
  nav a {
    padding: 0.05em 0.3em;
    font-size: 0.7rem;
  }
}